html, body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial;
    color: #3A4244;
}

header {
    padding: 10px 30px;
    background: #CAE7EC;
    font-size: 24px;
}

header a {
    color: #1A1E20;
    text-decoration: none;
}


.bandeauSup{
    background: #235079;
}

section {
    padding: 10px 30px;
}

p.error{
    color: #cc0000;
}

p.success {
    color: #677E52;
}

dd.info {
    display: none;
}

dd.error{
   margin-left: 10px;
   font-size: 12px;
   color: #c00;
}

div#general {
    width : 180px;
   display: inline;
}

div#textquestion {
   display: inline;
   width: 60px;
}

div#menu{
    display:inline;
}

.divInline{
    display: inline;
}

.menuRight{
    float: right;
    color: white;
}

div#buttons {
    display: inline;
    width: 120px;
}

.tdCenter {
    width: 80px;
    text-align: center;
    border: 1;
}

.tdQuestion{
    width: auto;
}

.tdChoiceLibelle {
    width: auto;
}

.li_inline {
    list-style: none;
    display: inline;
}

.li_nopuce {
    list-style: none;
}

.inlineForms {
    display: inline;
}

.inlineForms dd {
    display: inline;
}

.inlineForms dd.info {
    display: none;
}

.inlineForms dt {
    display: inline;
}


#rForms dd {
    display: inline;
}

#rForms dd.info {
    display: none;
}


.lForm dd.info{
    display: none;
}
.lForm dd.error{
   margin-left: 10px;
   font-size: 12px;
   color: #c00;
}

.lForm{
    display: inline;
}

.lForm dl.error {
    background: #FBDDE6;
}

.lForm dt {
    display: inline;
}

.lForm dd {
    display: inline;
}

#rForms dd.error {
    margin-left: 10px;
    font-size: 12px;
    color: #c00;
}

#rForms label {
    font-size: 14px;
}

#rForms dl {
    background: #FAFAFA;
    padding: 10px;
}

#rForms dl.error {
    background: #FBDDE6;
}

#rForms dt {
    display: inline;
    width: 160px;
}

#qForms dd {
    display: inline;
}

#qForms dd.info {
    display: none;
}

#qForms dd.error {
    margin-left: 10px;
    font-size: 12px;
    color: #c00;
}

#qForms label {
    font-size: 14px;
}

#qForms dl {
    background: #FAFAFA;
    padding: 10px;
}

#qForms dl.error {
    background: #FBDDE6;
}

#qForms dt {
    display: inline;
    width: 160px;
}

.buttons {
    background: #536565;
    padding: 10px;
    margin-top: 30px;
}

.buttons input, .buttons a {
    border: 1px solid #2F3A3A;
    background: #fff;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
}

ul {
    padding-left: 20px;
}

