@(questions: List[Question], qForms:Form[Question])
@import helper._


@main("OPEN - QCM JAVA / JEE : Admin"){
<h1>Questions créées : (@questions.size())</h1>

    <table>
        <tr>
            <th>Libellé</th>
            <th>Actions</th>
        </tr>
        @for(question <- questions) {
        <tr>
            <td class="tdQuestion">
                @question.text
            </td>
            <td>@form(routes.Application.deleteQuestion(question.id), args = 'class -> "inlineForms") {
                <input type="submit" value="Delete">
                }
                @form(routes.ChoiceManager.editQuestion(question.id), args = 'class -> "inlineForms") {
                <input type="submit" value="Edit">
                }
            </td>
        </tr>
    }
    </table>

<h2>Créer une nouvelle question :</h2>

@form(routes.Application.createQuestion(), args = 'id -> "qForms") {

@inputText(field=qForms("text"), args = '_label -> "* Texte de la question :" )

<input type="submit" value="Enregistrer">

}
}