@(questions: List[Question], qForms:Form[Question], action: String, qcms: List[Qcm], qcmForm: Form[Qcm], editedQcm: Qcm, user: User)
@import helper._


@main("OPEN - QCM JAVA / JEE : Admin", user){
        @if(action == null || "".equals(action)){
            @if(flash().get("error") != null){
                <p class="error">
                    @flash().get("error")
                </p>
            }
            @if(flash().get("success") != null) {
                <p class="success">
                    @flash().get("success")
                </p>
            }
            <h1>Gestion des QCMs</h1>
            @form(routes.Admin.createQcm(), args = 'class -> "inlineForms"){
                <input type="submit" value="Créer un QCM"/>
            }
            @form(routes.QcmController.importQcm(), args = 'class -> "inlineForms"){
                <input type="submit" value="Importer un QCM"/>
            }
            @if(qcms.size() > 0){
                <h2>liste des QCMs disponibles</h2>
                <table>
                <tr>
                    <th>Nom</th>
                    <th>Score max du QCM</th>
                    <th>Action</th>
                </tr>
                @for(oQcm <- qcms){
                    <tr>
                        <td>
                            @oQcm.name
                        </td>
                        <td align="center">
                            @oQcm.maxScore
                        </td>
                        <td>
                            @form(routes.QcmController.editQcm(oQcm.id), args = 'class -> "inlineForms") {
                                <input type="submit" value="Edit">
                            }
                            @form(routes.QcmController.calculateMaxScore(oQcm.id), args = 'class -> "inlineForms"){
                                <input type="submit" value="Calculer score max">
                            }
                            @form(routes.QcmController.exportQcm(oQcm.id), args= 'class -> "inlineForms"){
                                <input type="submit" value="Export">
                            }
                            @form(routes.QcmController.deleteQcm(oQcm.id), args = 'class -> "inlineForms") {
                                <input type="button" value="Delete" onclick="confirmDelete(this)">
                            }
                        </td>

                    </tr>
                }
                </table>
            }

        }

        @if("IMP".equals(action)){
            <h2>Import QCM</h2>
            @form(routes.QcmController.createQcmFromXml(), args = 'class -> "inlineForms", 'enctype -> "multipart/form-data"){
                <input type="file" name="xml" />
                <input type="submit" value="Créer le QCM" />
            }
        }

        @if("QCM".equals(action)){
           @form(routes.QcmController.createQcm()){
                @inputText(field=qcmForm("name"), args = '_label -> "Nom du QCM (*)")
                @select(qcmForm("category"), utils.CategoryEnum.values().toList.map(v => (v.toString, Messages("" + v))),
                        '_label -> "Category"
                )
                <input type="submit" value="créer"/>
            }
        }
        @if("QST".equals(action)){

<h1>Questions créées : (@questions.size())</h1>
    @form(routes.Admin.index()){
        <input type="submit" value="Retour QCMs"/>
    }
    @if(questions.size()> 0){
    <table>
        <tr>
            <th>Libellé</th>
            <th>Actions</th>
        </tr>
        @for(question <- questions) {
        <tr>
            <td class="tdQuestion">
                @question.text
            </td>
            <td>@form(routes.Application.deleteQuestion(question.id, editedQcm.id), args = 'class -> "inlineForms") {
                <input type="button" value="Delete" onclick="confirmDelete(this)">
                }
                @form(routes.ChoiceManager.editQuestion(question.id), args = 'class -> "inlineForms") {
                <input type="submit" value="Edit">
                }
            </td>
        </tr>
    }
    </table>
    }

<h2>Créer une nouvelle question :</h2>

@form(routes.Application.createQuestion(editedQcm.id), args = 'id -> "qForms") {

@inputText(field=qForms("text"), args = '_label -> "* Texte de la question :" )
<input type="submit" value="Enregistrer">

}
}
}