@(lForm: Form[User])
@import helper._

@main("Login"){
     <h3>Log in or <a href="/user"> create user</a></h3>
     @if(flash().get("logError")!= null){
        <p class="error">
            @flash().get("logError")
        </p>
     }
     @if(flash().get("AccessError") != null){
        <p class="error">
            @flash().get("AccessError")
        </p>
     }
    @form(routes.LoginController.authenticate(), args = 'class -> "lForm"){
        @inputText(field=lForm("email"), args = '_label -> " Email (*)   ")
        @inputPassword(field=lForm("password"), args = '_label -> " Password (*)")
        <input type="submit" value="Login">
    }
}