@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
    <div id="menu">
        <div id="menu">
            <a href="/">Accueil</a> <a href="/qcm">QCM</a> </div>
        </div>
        <div text-align="right" id="menu" class="divRight">
            <a href="/admin">Admin</a>
        </div>
        <div id="menu">
            <a href="@routes.LoginController.logout()">Logout</a>
        </div>
    <div>
        @content
    </div>
    </body>
</html>
