@(title: String, user: User)(content: Html)
@import helper._
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/scripts.js")" type="text/javascript"></script>
    </head>
    <body>
    <div class="bandeauSup">
        <img src="@routes.Assets.at("images/logo.jpg")"/>
        <div class="menuRight">
            @if(user != null){
            @user.surname @user.name <span>(@user.email)</span>
            @form(routes.LoginController.logout(), args = 'class -> "inlineForms"){
            <input type="submit" value="Logout"/>
            }
            }
        </div>
    </div>
    <div id="menu">
        <div class="divInline">
            @form(routes.Application.index(), args = 'class -> "inlineForms"){
            <input type="submit" value="Accueil"/>
            }
        </div>
        <div class="divInline">
         @form(routes.QcmController.index(), args = 'class -> "inlineForms"){
            <input type="submit" value="QCMs"/>
         }
        </div>
        <div class="divInline">
            @form(routes.Admin.index(), args = 'class -> "inlineForms"){
            <input type="submit" value="Gestion des Qcms"/>
            }
        </div>
    <div>
        @content
    </div>
    </body>
</html>
