@(question: Question, rForms:Form[Choice], choices: List[Choice], editedQcm: Qcm, qForm: Form[Question], user: User)
@import helper._

@main("OPEN - QCM JAVA / JEE : Ajout de choix à la question", user){
    @form(routes.Admin.retourQuestions(editedQcm.id), args = 'class -> "inlineForms"){
        <input type="submit" value="Retour questions"/>
    }


    <h2>Question en cours d'édition : (@question.text)</h2>
    @form(routes.Application.modifieQuestLibelle(question.id, editedQcm.id), args = 'class -> "inlineForms"){
        @inputText(field=qForm("text"), args = '_label -> "Libelle de la question :")
        <input type="submit" value="Modifier"/>
    }
    <br>
    <h3>liste des choix disponibles  : </h3>
    <ul>
        <table>
        <th>Libellé</th>
        <th>Status</th>
        <th>Actions</th>
        @for(choice <- choices) {
         <tr>
            <td>
                @choice.libelle
            </td>
            <td class="tdCenter">
                @choice.status
            </td>
            <td>
            @form(routes.ChoiceManager.deleteResponse(choice.id), args = 'class -> "inlineForms") {
                <input type="button" value="Delete" onclick="confirmDelete(this)">
            }
            </td>
         </tr>
        }
        </table>
    </ul>

    <h2>Choix possibles :</h2>
    <div>
    @form(routes.ChoiceManager.addResponses(question.id), args = 'class-> "inlineForms") {
        @inputText(field = rForms("libelle"), args = '_label -> "Réponse : (*) ")
        <dl>
        <dt><label for="status">Status : </label></dt>
        <dd>
        <select name="status" id="status">
              <option>OK</option>
              <option>KO</option>
        </select>
        </dd>
        </dl>
        <dl>
        <dd>
            <input type="submit" value="Enregistrer">
        </dd>
        </dl>
    }
    </div>
}