@(questions: List[Question], qForm: Form[UserAnswer], score: String, action: String, qcms: List[Qcm], answeredQuestIds: List[Long], user: User)

@import helper._
@main("QCM", user){
    @if(action == null || "".equals(action)){
        @if(qcms.size() > 0 ){
            <h2>Qcms disponibles : </h2>
            @for(qcm <- qcms){
                @form(routes.QcmController.tester(qcm.id)){
                    @qcm.name <input type="submit" value="GO"/>
                }
            }
        }
    }

    @if("EVAL".equals(action)){
        @if(score != null && !"0".equals(score)){
            <h1>score actuel : @score</h1>
        }
        @if(questions.size() != 0){
            <h1>Nombre de questions :  @questions.size()</h1>
            <h2>QCM : @questions.get(0).qcm.name</h2>
            <ul>
            <h3>@questions.get(0).text</h3>
            @form(routes.QcmController.validateResponses(), args = 'class -> "inlineForms"){
                <input type="hidden" name="questionId" id="questionId" value="@questions.get(0).id"/>
                @for(choice <- questions.get(0).possibleResp){
                <input type="checkbox" name="selectedChoices" value="@choice.id"/>@choice.libelle<BR>
                }
                <input type="submit" value="Valider"/>
            }

            </ul>
        }
        <ul>
            @if(questions.size() == 0 && (score == null || "0".equals(score))){
                @form(routes.QcmController.score()){
                    <input type="submit" value="Evaluer"/>
                }
            }
        </ul>
    }
}
